<% include header.html %>
<% include nav.html %>
<section class="content-wrap">
	<div class="container-fluid custom-fulid">
		<% var count = content.length %>
		<% content.forEach(function(star, index, stars){%>
			<% var img = star.cover %>
			<% var name = star.name %>
			<% var img = (index == 0) ? (serveradress + "/images/test.gif"):(serveradress + "/images/test.png") %>
			<% var name = "拉萨拉萨" %>
			<% var className = star.sign ? "starNameSign" : "starName" %>
			<%if ((index)%6 == 0){%>
				<div class="row">
			<%}%>

			<div class="col-sm-2">
				<div class="star-cover">
					<a href="<%=serveradress%>/follows/<%=star.name%>">
						<img src="<%=img%>" alt="star.cover"/>
					</a>
					<div class="<%=className%>"><%=name%></div>
				</div>
			</div>
			<%if ((index)%6 == 5 || index == count - 1){%>
				</div>
			<%}%>
		<% }) %>
	</div>
	<div class="xCount">--total:<%=count%>--</div>
</section>
<% include footer.html %>